
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}
:root{
    --bg-color: #191f36;
    --snd-bg-color:#262840;
    --text-color:#fff;
    --main-color:#5982f4;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);

}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
     cursor: default;
}

.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a:active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/*---------------home---------------*/

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 9% 2rem;
    min-height: 100vh;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;

}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    
}

.home-img img{
    width: 25vw;
    
}

.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border:.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1 rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    transition: 0.5s ease;
}

.btn:hover{
    background-color:  black;
    color: var(--main-color);

}
/*-----------------about--------------------*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--snd-bg-color);
    padding: 10rem 9% 2rem;
    min-height: 100vh;

}

.about-img img{
    width: 65vh;
    border-radius: 200px;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;

}

.about-content h1{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


/*-------------------skills--------------------*/

h1.title{
    text-align: center;
    font-size: 55px;
    padding-bottom: 70px;
    padding-top: 30px;
    
}


.skills{
    display: flex;
    padding: 75px;
    padding: 10rem 9% 9rem;
    min-height: 100vh;

}

.container1{
    width: 600px;
    height: 500px;
    padding: 70px;
    float: left;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom: 50px;
    margin-top: -156px;
    font-size: 25px;
    color: red;
}
.skill-area{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.skill{
    position: relative;
    margin-bottom: 40px;
}
.skill-title{
    font-size: 20px;
    margin-bottom: 10px;
}
.skill-bar{
    width: 100%;
    background: black;
    height: 18px;
    z-index: -1;
    border-radius: 100px;
    border: 3px solid black;
    position: absolute;
}
.skill i{
    font-size: 23px;
}
.skill-fill{
    background-color: green;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    border-radius: 100px;
    overflow: hidden;
}

.html{
    animation: html 2s;
    width: 65%;
}

.css{
    animation: css 2s;
    width: 55%;
}
.js{
    animation: js 2s;
    width: 30%;
}
.db{
    animation: db 2s;
    width: 50%;
}
.python{
    animation: python 2s;
    width: 40%;
}

.container2{
    
    width: 600px;
    height: 500px;
    padding: 70px;
    float: right;
}
.creativity{
    animation: creativity 2s;
    width: 80%;
}

.commu{
    animation: commu 2s;
    width: 65%;
}
.TW{
    animation: TW 2s;
    width: 90%;
}
.PS{
    animation: PS 2s;
    width: 60%;
}
.TM{
    animation: TM 2s;
    width: 50%;
}


/*-------------------project------------------*/


.project {
    background-color:var(--snd-bg-color);
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10rem 9% 2rem;
    min-height: 100vh;
 }
 .tit .heading2{
    font-size: 40px;
 }
 
 .cover {
    width: 1207px;
    height: 404px;
    display: flex;
    margin-top: 50px;
    background-size: cover;
    
 }

 .cover h2{
    font-size: 20px;
 }
 .cover p{
    font-size: 15px;
 }
 
 .project .box3 {
    width: 600px;
    height: 350px;
    margin: 10px;
    
 }
 
 
 .project img {
    width: 353px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 224px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: all 0.7s;
    
 }
 .project img:hover {
    transform: scaleX(1.1);
   

 }
 /*----------------------achievement------------------------------*/

 .achievement{
    background-color:var(--bg-color);
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10rem 9% 2rem;
    min-height: 100vh;
 }
 .achievement .box3 {
    width: 600px;
    height: 350px;
    margin: 10px;
    
 }
 
 
 .achievement img {
    width: 353px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);

    height: 224px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: all 0.7s;
    
 }

 /*--------------contact---------------*/
#contact.Contact{
    background: var(--snd-bg-color);
    padding: 10rem 9% 2rem;
    min-height: 100vh;
}
 h2.heading2{
    margin: 3rem;
    font-size: 40px;
 }

 form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
 }

 .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

 }

 input{
    width: 49%;
    
 }

 textarea{
    resize: none;
    width: 100%;
 }

 form .btn{
    margin-top: 2rem;
    cursor: pointer;
    background-color: #9d0303;
    color: white;
    
 }
 form .btn:hover{
    background-color: green;
    color: black;
 }
 .input-box input,
 textarea{
    
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: #283460;
    border-radius: .8rem;
    margin: .7rem 0;
 }

 /*--------------footer------------*/

 .footerBottom{
    background-color: #000;
    padding: 20px;
    margin-bottom: 0;
    text-align: center;
}
.footerBottom p{
    color: white;

}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0px 5px;
}
